header {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 100px;
    padding-right: 100px;

    background-color: white;
}

.home-link {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.home-link:hover {
    opacity: 0.5;
}

.header-middle {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 56px;
    margin: 0;
    padding: 2px;
}

.header-middle .header-link-list {
    max-height: 90%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.header-middle .header-link-list:hover {
    border-bottom: 2px solid black;
}

.header-link-list .header-link {
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 12px 12px 18px 12px;
}

.header-right {
    display: flex;
}

.user-icon-container, .cart-icon-container {
    border-radius: 50%;
    margin-right: 20px;
    padding: 6px 8px;
    cursor: pointer;
}

.user-icon-container:hover, .cart-icon-container:hover {
    background-color: rgb(225, 225, 225);
}

.fa-user, .fa-bag-shopping {
    color: black;
}