header {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 100px;
    padding-right: 100px;

    background-color: lightgray;
}

.home-link {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.home-link:hover {
    opacity: 0.5;
}

.header-middle {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 56px;
    margin: 0;
    padding: 2px;
}

.header-middle .header-link-list {
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
}

.header-middle .header-link-list:hover {
    border-bottom: 2px solid black;
}

.header-link-list .header-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 12px;
}

.header-right {
    display: flex;
}