.slider-container {
    width: 100%;
    position: relative;
}

.slider-wrapper {
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-button-prev, .slider-button-next {
    position: absolute;
    top: 0;
    padding: 280px 50px;
    cursor: pointer;
}

.slider-button-prev {
    left: 0;
}

.slider-button-next {
    right: 0;
}

.fa-angle-left, .fa-angle-right {
    background-color: white;
    color: black;
    padding: 12px 15px;
    border-radius: 50%;
}