main {
    text-align: center;
}

.shop-container {
    display: inline-block;
    max-width: 1920px;
}

.shop-header {
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 55px;
    max-width: 1920px;
    padding: 16px 48px 16px;
    background-color: white;
}

.shop-header-text {
    flex: 1;
    text-align: left;
}

.shop-header-text h2 {
    font-size: 24px;
}

.shop-header-button {
    /* width: 200px; */
}

.filter-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.shop-body {
    display: flex;
}

.sidebar {
    position: sticky;
    width: 260px;
    text-align: left;
    top: 120px;
    max-height: 50vh;
    margin-left: -260px;
    visibility: hidden;
    transition: margin 0.3s, visibility 0s 0.3s;
}

.sidebar.open {
    margin-left: 0;
    visibility: visible;
    transition: margin 0.3s, visibility 0s;
}

.sidebar-wrapper {
    width: 240px;
    padding-left: 48px;
}

.sidebar-categories, .sidebar-filters {
    /* width: inherit; */
}

.sidebar-categories {
    padding-bottom: 40px;
}

.sidebar-link {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 4px;
    padding-bottom: 10px;
}

.sidebar-link, .collapsible-header p {
    font-size: 18px;
    font-weight: 500;
}

.filter-group {
    border-top: solid 1px rgb(210, 210, 210);
}

.collapsible-header {
    display: flex;
    align-items: center;
    width: 98%;
    padding: 12px 0;
    cursor: pointer;
}

.collapsible-header.open ~ .collapsible {
    display: block;
}

.collapsible-header .arrow-down {
    transition: transform 0.2s;
}

.collapsible-header.open .arrow-down {
    transform: rotate(-180deg);
}

.collapsible {
    display: none;
    padding-bottom: 20px;
}

.collapsible-header p {
    flex: 1;
}

.option {
    display: flex;
    cursor: pointer;
}

.filter-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border: 1.5px solid rgb(192, 192, 192);
    border-radius: 4px;
    margin-right: 8px;
    transition: all 0.15s ease-in;
}

.filter-checkbox .check-icon {
    color: white;
    font-size: 14px;
    transform: scale(0);
}

.option.checked .filter-checkbox {
    background-color: black;
    border-color: black;
}

.option.checked .check-icon {
    transform: scale(1);
}

.options-text {
    font-size: 18px;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    max-width: 1920px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 40px;
}

.product-image {
    width: 100%;
}

.product-info {
    text-align: left;
}

.product-name {
    font-size: 18px;
}

.product-genre {
    color: rgb(125, 125, 125);
    padding-bottom: 6px;
}

.product-name, .product-price {
    font-weight: 500;
}